/*-------------------------------------------------------------

	MASTER STYLESHEET

    Project:        KVORUM
    Version:        1.0
    Author:         Anton Shaposhnikov
    Telegram:       @hesoyam_666

--------------------------------------------------------------*/

// Custom
// ============================================================

// Now not use
@import 'mixins'; // Mixins
@import 'variables'; // Variables



html {
	overflow-x: hidden;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #F8F8F8;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

a {
	font-family: 'Roboto', sans-serif;
	color: inherit;
	outline: 0;
	text-decoration: none;
}

a:focus, a:hover, a:active {
	outline: 0;
	color: inherit;
	text-decoration: none;
}

:active,
:focus {outline: none;}

//=========
// HEADER
//=========

.header {
	width: 100%;
	background-color: #6E6E6E;
	position: relative;
	// HEADER Left-Side
	&__left-side {
		display: flex;
		justify-content: space-between;
		padding-top: 2.5vh;
		height: max-content;
	}
	&__logo {
		margin-right: 4.6vh;
		max-width: 22vh;
		max-height: 6vh;
	}
	&__tagline {
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin-right: 3vh;
		& p {
			color: #fff;
			font-size: 1.6vh;
			line-height: 1.9vh;
		}
	}
}

.container--header {
	height: 18.1vh;
	width: 114vh;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}



// Соц.Сети
.header__socials {
	display: flex;
    flex-wrap: wrap;
	align-content: center;
	flex-direction: column;
}

.socials {
	width: 11vh;
	height: 2vh;
	display: flex;
    justify-content: space-between;
	& img {
		width: 1.8vh;
		height: 1.8vh;
	}
	& a:hover {
		opacity: 0.6;
		transition: linear 0.3s all;
	}
}

// Смена языка сайта
.dropdown {
	position: relative;
	display: inline-block;
	margin-top: 2.6vh;
}

.dropbtn__inner {
	display: flex;
}

.dropbtn {
	background-color: transparent;
	color: #fff;
	font-size: 1.2vh;
	line-height: 1.4vh;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
}

.dropdown-content {
	display: none;
	position: absolute;
	z-index: 1;
}

.dropdown-content a {
	color: #fff;
	padding: 1vh 1vh 1vh 0;
	font-size: 1.2vh;
	text-decoration: none;
	display: block;
	text-transform: uppercase;
}

.dropdown-content a:first-child {
	padding: 2vh 1vh 1vh 0;
}

.dropdown-content a:hover {
	cursor: pointer;
	opacity: 0.8;
}

.dropdown:hover .dropdown-content {
	display: block;
	transition: linear 0.3s all;
}

// Стрелка открытия списка языков
.arrow {
	width: 1vh;
	height: 0.9vh;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(135deg);
	margin-left: 1vh;
	margin-top: 0;
}   

.dropdown:hover .arrow {
	transform: rotate(-45deg);
	margin-top: 0.5vh;
	cursor: pointer;
	transition: linear 0.3s all;
}




// HEADER Right-Side
.header__right-side {
    padding-top: 2.5vh;
	height: fit-content;
}

.header__btn {
	display: flex;
    flex-wrap: wrap;
    width: 16.8vh;
    margin: 0 1.8vh 0 auto;
	& a {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 1.4vh;
		line-height: 1.6vh;
		color: #FFFFFF;
		text-align: center;
		border: 1px solid #A9C239;
		box-sizing: border-box;
		width: 16.8vh;
		height: 4vh;
		margin-bottom: 0.6vh;
		background: #A9C239;
		&:last-child {
			background: transparent;
		}
		&:hover {
			background: #D8EE75;
			transition: linear 0.3s all;
			color: #3C3C3C;
		}
	}
}


// Поиск
.search-form {
	position: relative;
	&__input {
		width: 43.6vh;
		height: 4.8vh;
		padding-left: 0.8vh;
		border-radius: 5px;
		background: #fff;
		border: none;
		outline: none;
		position: relative;
		transition: .3s linear;
		font-size: 1.4vh;
		line-height: 1.6vh;
	}
	&__button {
		width: 5.4vh;
		height: 4.8vh;
		background: none;
		border: none;
		border-radius: 0px 5px 5px 0px;
		position: absolute;
		top: 0;
		right: 0;
		background: #A9C239;
		&:hover {
			cursor: pointer;
			background: #D8EE75;
			transition: linear 0.3s all;
		}
		& img {
			width: 2.5vh;
			height: 2.4vh;
			padding-top: 0.2vh;
		}
	}
}

// \Поиск







//=================================//
// HEADER MOBILE    after 768px    //
//=================================//




.header-mobile {
	display: none;
	width: 100%;
	// HEADER Left-Side
	&__top-side {
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding-top: 2.5vh;
		padding-bottom: 1.5vh;
		height: max-content;
		background-color: #F8F8F8;
		& a {
			margin: 0 auto;
		}
	}
	&__down-side {
		background-color: #A9C239;
	}
	&__contacts {
		padding: 6vw 1vw;
		width: max-content;
    	margin: 0 auto;
	}
	&__logo {
		// max-width: 28vh;
		// max-height: 8.7vh;
		max-width: 49vw;
		max-height: 11.7vw;
	}
	&__tagline {
		display: block;
    	text-align: center;
		& p {
			color: #181818;
			font-size: 3.2vw;
			line-height: 5vw;
		}
	}
}

.wrap-btn-main-mobile {
	display: none;
	background-color: #A9C239;
	width: 90%;
	height: 10vw;
	margin: 0 auto;
	align-items: center;
	a {
		font-size: 4vw;
		line-height: 2.1vw;
		color: #fff;
	}
}

.contact__item {
	display: flex;
    justify-content: center;
	width: max-content;
	margin-bottom: 5vw;
	.item__text {
		font-size: 3.2vw;
		line-height: 4vw;
		font-weight: 400;
		color: #fff;
	}
	&:last-child {
		margin-bottom: 0;
	}
	.item__icon {
		width: 4vw;
		margin-right: 2vw;
	}
}

.container--header {
	height: 18.1vh;
	width: 114vh;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}



























// Уведомление под шапкой
.alert {
	background-color: #C7D684;
	height: 5.6vh;
	width: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
	&__text {
		display: flex;
		align-items: center;
		color: #000;
		font-size: 1.2vh;
		line-height: 1.4vh;
	}
	&__close {
		display: flex;
		align-self: center;
		margin-right: 1.5vh;
		width: 1.9vh;
		height: 1.9vh;
	}
	&__close:hover {
		opacity: 0.5;
		cursor: pointer;
		transition: linear 0.3s all;
	}
	&__space {
		visibility: hidden;
	}
}

.container--alert {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	height: 100%;
	width: 114vh;
}

//  Для скрытия уведомления .alert , при нажатии на кнопку .alert__close
.hide {
	display: none;
}

// \END	Уведомление под шапкой











// ===========================================//
// 	MAIN HOME PAGE STYLE	index.html		 //
// =========================================//

.main--home {
	width: 100%;
	height: 100%;
	display: flex;
	background-color: #F4F4F4;
}

.container--home {
    width: 114vh;
    margin: 0 auto;
	display: flex;
    justify-content: space-between;
	padding-top: 5.5vh;
	padding-bottom: 14.6vh;
}



.home__heading {
	font-size: 1.2vh;
	line-height: 1.4vh;
	color: #000;
	font-weight: 400;
}

.home__main-news {
	max-width: 77.3vh;
	margin-top: 2vh;
	h1 {
		font-weight: 500;
		font-size: 2.5vh;
		line-height: 2.9vh;
		letter-spacing: 0.03em;
		color: #000;
		margin-bottom: 5vh;
	}
	img {
		max-width: 77.3vh;
		max-height: 47.5vh;
	}
}

// Стили основной кнопки
.button--main {
	font-size: 1.8vh;
	line-height: 2.1vh;
	text-align: center;
	letter-spacing: 0.06em;
	color: #FFF;
	width: 33.8vh;
	height: 5.9vh;
	background: #A9C239;
	padding: 2.1vh 10vh;
	&:hover {
		background: #D8EE75;
		transition: linear 0.3s all;
		color: #3C3C3C;
	}
}

// Колонка Новости
.news {
	width: 25.2vh;
	padding-top: 5.5vh;
	&-block__item {
		border-bottom: 1px solid #A9C239;
		padding: 1.3vh 0;
		&:hover {
			opacity: .7;
		}
	}
	&__title {
		font-weight: 500;
		font-size: 2.5vh;
		line-height: 2.9vh;
		letter-spacing: 0.03em;
		&:hover {
			opacity: .7;
		}
	}
}

.date {
	font-size: 1.3vh;
	line-height: 1.7vh;
	color: #A9C239;
	padding-bottom: 1.2vh;
}

.title {
	font-size: 1.4vh;
	line-height: 1.8vh;
	font-weight: 400;
}







// ===========================================================//
// Alert Registration PAGE STYLE	alert-registration.html	 //
// =========================================================//


.container--alert-registration {
	width: 114vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
	flex-direction: column;
}

.logo--middle {
	margin-top: 2.2vh;
	max-width: 22vh;
	max-height: 6vh;
	margin: 2.2vh auto 2.5vh auto;
}

.next-step {
	margin: 0 auto 4vh auto;
	width: 80.5vh;
	height: 65.4vh;
	background: #FFF;
	box-shadow: 5px 5px 4px rgba(117, 117, 117, 0.1);
	border-radius: 9px;
	&__title {
		font-weight: bold;
		font-size: 1.9vh;
		line-height: 2.2vh;
		letter-spacing: 0.06em;
		color: #A9C239;
		text-align: center;
		margin: 4.3vh auto 3.2vh auto;
	}
	&__text {
		font-size: 1.4vh;
		line-height: 1.9vh;
		max-width: 60.2vh;
		margin: 0 auto;
		font-weight: 400;
		&:last-child {
			margin-bottom: 6vh;
		}
	}
}


// Кропка "Выберите следующий шаг"

.button--alert-registration {
	display: flex;
    justify-content: center;
	align-items: center;

	margin: 5.5vh auto 0 auto;
	font-size: 1.8vh;
    line-height: 2.1vh;
    letter-spacing: 0.06em;
    color: #FFF;
    width: 33.8vh;
    height: 5.9vh;
    background: #A9C239;
	&:hover {
		background: #D8EE75;
		transition: linear 0.3s all;
		color: #3C3C3C;
	}
}








// ===================================================//
// 	Registration PAGE STYLE		registration.html	 //
// =================================================//

.choice-enter {
	margin: 0 auto;
	width: 55.8vh;
	height: 31vh;
	background: #FFF;
	box-shadow: 5px 5px 4px rgba(117, 117, 117, 0.1);
	border-radius: 9px;
	&__or {
		display: flex;
		justify-content: center;
		margin-top: 0.6vh;
	}
}

// Стили кнопок Вход и Рег
.wrapper-button-enter {
	display: flex;
    justify-content: center;
	margin: 1.1vh auto 0 auto;
	width: 41.1vh;
	border-bottom: 1px solid #DCDCDC;
	padding-bottom: 1.8vh;
}

.button-enter{
	display: flex;
    align-items: center;
    justify-content: center;
	font-size: 1.5vh;
	line-height: 1.8vh;
	letter-spacing: 0.06em;
	font-weight: 500;
	color: #FFF;
	width: 16.8vh;
	height: 4vh;
	background: #A9C239;
	&:hover {
		background: #D8EE75;
		transition: linear 0.3s all;
		color: #3C3C3C;
	}
}

.button-enter--reg {
	font-size: 1.4vh;
	line-height: 1.6vh;
	font-weight: 400;
}
.wrapper-button-enter--reg {
	margin: 3.8vh auto 0 auto;
}

.search-form--reg {
	display: flex;
	justify-content: center;
	width: fit-content;
    margin: 1vh auto 0 auto;
}

.search-form__input--reg {
	width: 43.6vh;
	height: 4.8vh;
	border: 1px solid #BABABA;
}







// ===================================================//
// 	Contract Info PAGE STYLE	contract.html	 //
// =================================================//


.contact--container {
	width: 114vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
	flex-direction: column;
}

.contract {
	width: 108.4vh;
	height: 58vh;
	margin: 0 auto;
	background: #FFFFFF;
	box-shadow: 5px 5px 4px rgba(117, 117, 117, 0.1);
	border-radius: 9px;
	padding: 4.5vh 4.5vh 0 7vh;
	&__title {
		font-weight: 900;
		font-size: 1.8vh;
		line-height: 2.1vh;
		color: #A9C239;
	}
}

// TABLE
.table-wrapp {
	display: flex;
    justify-content: space-between;
}

.table {
	font-size: 1.4vh;
	line-height: 1.6vh;
	margin-top: 4.5vh;
	& tr {
		height: 3.7vh;
	}
	&__point {
		color: #393939;
		width: 17vh;
		font-weight: 400;
	}
	&__result {
		font-weight: 500;
	}
}


// BUTTONS //
.wrap-btn--contract {
	display: flex;
    flex-direction: column;
}

// Button Legal
.button-legal {
	display: flex;
    justify-content: flex-end;
	margin-top: 3.5vh;
}

.button-legal-inner {
	display: flex;
    align-items: center;
    justify-content: center;
	font-size: 1.6vh;
	line-height: 1.9vh;
	letter-spacing: 0.06em;
	font-weight: 400;
	color: #FFF;
	width: 44vh;
	height: 4vh;
	background: #A9C239;
	&:hover {
		background: #D8EE75;
		transition: linear 0.3s all;
		color: #3C3C3C;
	}
}
// \End Button Legal



// Button about kvorum
.button-kvorum {
	margin-top: 5.5vh;
	&-inner {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.6vh;
		line-height: 1.9vh;
		letter-spacing: 0.06em;
		font-weight: 500;
		color: #FFF;
		width: 57vh;
		height: 4vh;
		background: #A9C239;
		&:hover {
			background: #D8EE75;
			transition: linear 0.3s all;
			color: #3C3C3C;
		}
	}
}

// \End Button kvorum


// Button Print
.button-print {
	margin-top: 3.5vh;
	&-inner {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.6vh;
		line-height: 1.9vh;
		letter-spacing: 0.06em;
		font-weight: 400;
		color: #FFF;
		width: 16.8vh;
		height: 4vh;
		background: #A9C239;
		border: none;
		&:hover {
			background: #D8EE75;
			transition: linear 0.3s all;
			color: #3C3C3C;
			cursor: pointer;
		}
	}
}
// \End Button kvorum







// ====================================================//
// 	About Kvorum Info PAGE STYLE	about-kvorum.html //
// ===================================================//

.about-kvorum-link {
	margin-top: 11vh;
	font-size: 1.6vh;
	line-height: 1.9vh;
}

.wrap-btn--about-kvorum {
	display: flex;
	justify-content: center;
	margin-top: 8.5vh;
}

// Button Exit
.button-exit {
	margin-top: 3.5vh;
	margin-left: 3vh;
	&-inner {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.6vh;
		line-height: 1.9vh;
		letter-spacing: 0.06em;
		font-weight: 400;
		color: #FFF;
		width: 24.8vh;
		height: 6vh;
		background: #A9C239;
		&:hover {
			background: #D8EE75;
			transition: linear 0.3s all;
			color: #3C3C3C;
		}
	}
}

// \End Button Exit



// Button Offerta
.button-offerta {
	margin-top: 3.5vh;
	&-inner {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.6vh;
		line-height: 1.9vh;
		letter-spacing: 0.06em;
		font-weight: 400;
		color: #FFF;
		width: 66vh;
		height: 6vh;
		background: #A9C239;
		&:hover {
			background: #D8EE75;
			transition: linear 0.3s all;
			color: #3C3C3C;
		}
	}
}

// \End Button offerta 



// Small header
.container--header-small {
	height: 11vh;
}

.header__right-side--small {
	padding-top: 2vh;
	display: flex;
}

.header__socials--small {
	margin-right: 4vh;
	margin-top: 1vh;
}

.header__btn--small  a:last-child {
    border: none;
}

.arrow--header-small {
	border-top: 2px solid #000;
	border-right: 2px solid #000;
}

.dropdown-content--header-small a:first-child {
    padding: 0.7vh 1vh 1vh 0;
}






// ====================================================//
// 	Offerta PAGE STYLE	offerta.html				 //
// ===================================================//

.offerta {
	width: 102vh;
	margin: 0 auto;
	padding-bottom: 12vh;
	&--body{
		background-color: #fff;
	}
	&__text {
		font-size: 1.4vh;
		line-height: 1.7vh;
	}
	&__text a {
		color: #A9C239;
		text-decoration: underline;
	}
	&__title--main {
		font-weight: 900;
		font-size: 1.6vh;
		line-height: 1.9vh;
		text-align: center;
		color: #A9C239;
		margin-bottom: 4.5vh;
		margin-top: 2.5vh;
	}
	&__title {
		font-weight: 700;
		font-size: 1.6vh;
		line-height: 1.9vh;
		text-align: center;
		color: #A9C239;
		margin-bottom: 1.2vh;
		margin-top: 2.8vh;
	}
	&__text--right {
		text-align: right;
		margin-bottom: 8vh;
	}
}


// Штамп
.offerta__stamp {
	display: flex;
    justify-content: space-between;
	margin-bottom: 7vh;
}

.stamp--first {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.stamp--second {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	& img {
		width: 22vh;
		height: 22vh;
	}
}









// ====================================================//
// 	Login PAGE STYLE		login.html				 //
// ===================================================//



.login {
	width: 64vh;
	height: 55vh;
	margin: 0 auto;
	background: #FFFFFF;
	box-shadow: 5px 5px 4px rgba(117, 117, 117, 0.1);
	border-radius: 9px;
	padding: 4.5vh 4.5vh 0 7vh;
	&__title {
		font-weight: 700;
		font-size: 1.5vh;
		line-height: 1.8vh;
		color: #000;
		text-align: center;
	}
}

.login__wrap {
	width:100%;
}

.login__group .label,
.login__group .input{
	color:#000;
	display:block;
	width: 37vh;
	height: 5vh;
}

.login__group .input {
	border:none;
	padding: 1.5vh 2.0vh;
	background: #EEEEEE;
	box-shadow: 0px 4px 4px rgba(109, 109, 109, 0.25);
	border-radius: 5px;
	margin: 0 auto;
}

.login__group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}

.login__group .label {
	font-size: 1.4vh;
	line-height: 1.6vh;
	color: #000;
	margin: 0 auto;
	height: 0vh;
	font-weight: 400;
}

.login__group label .icon{
	width: 2vh;
	height: 2vh;
	border-radius:2px;
	position:relative;
	display:inline-block;
	border: 0.1vh solid #898989;
	margin-left: 1vh;
}

.login__group label .icon:before,
.login__group label .icon:after{
	content:'';
	width: 1.3vh;
	height: 0.2vh;
	background:#A9C239;
	position: absolute;
	transition: all .2s ease-in-out 0s;
}

.login__group label .icon:before{
	left: 0.1vh;
	width: 0.8vh;
	bottom: 0.6vh;
	transform: scale(0) rotate(0);
}

.login__group label .icon:after{
	top: 0.7vh;
	right: 0;
	transform: scale(0) rotate(0);
}

.login__group .check:checked + label, .login__group .check + label{
	color:#000;
	display: flex;
    align-items: center;
}

#check, #check2 {
	display: none;
}

.login__group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}

.login__group .check:checked + label .icon:after{
	transform:scale(1) rotate(-57deg);
}

.login__group {
	position: relative;
	padding-top: 4vh;
	margin-bottom: 1vh;
	&--input {
		width: fit-content;
		margin: 0 auto;
	}
	& label {
	position: absolute;
	left: 1.3vh;
	top: 5.6vh;
	transition: top 0.5s;
	}
	& input{
	display: block;
	width: 100%;
	padding: 0.5vh;
	margin: auto;
	border: 0.1vh solid #ccc;
	}
	& input:focus+label,
	& input:not(:placeholder-shown)+label{
	top: 1.7vh;
	color: #636363;
	}
	&::-webkit-input-placeholder {
	opacity: 0;
	}
	& input:focus::-webkit-input-placeholder {
	opacity: 1;
	}
}


.remember {
	display: flex;
    justify-content: center;
	width: 28vh;
    margin: 2.5vh auto 2vh auto;
	& label {
		left: auto;
		font-weight: 400;
		font-size: 1.2vh;
		line-height: 1.4vh;
	}
}


// Button Login
.login__group--button {
	display: flex;
    align-items: center;
    justify-content: center;
	font-size: 1.8vh;
	line-height: 2.1vh;
	letter-spacing: 0.06em;
	font-weight: 400;
	color: #FFF;
	width: 35vh;
	height: 6vh;
	background: #A9C239;
	border: none;
	margin: 0 auto;
	&:hover {
		background: #D8EE75;
		transition: linear 0.3s all;
		color: #3C3C3C;
		cursor: pointer;
	}
}
// \End Button login




// ====================================================//
// 	Sign-up PAGE STYLE		sign-up.html			 //
// ===================================================//

.sign-up {
	width: 92vh;
	height: 76vh;
	margin: 0 auto;
	background: #FFFFFF;
	box-shadow: 5px 5px 4px rgba(117, 117, 117, 0.1);
	border-radius: 9px;
	padding: 2vh 4.5vh 0 7vh;
	margin-bottom: 4.5vh;
	&__title {
		font-weight: 700;
		font-size: 1.5vh;
		line-height: 1.8vh;
		color: #000;
		text-align: center;
	}
}

.login__group--inner {
	display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
}

// .recaptcha {
// 	display: flex;
//     flex-direction: column;
// 	width: 31vh;
//     height: 8vh;
// 	margin: 0 auto;
// 	& div {
// 		margin: 0 auto;
// 		display: flex;
// 		justify-content: center;
// 	}
// }

.recaptcha {
	display: flex;
    flex-direction: column;
	& img {
		margin: 0 auto;
		width: 24.5vh;
		height: 7.7vh;
	}
}

.sign-up__button {
	margin: 2vh auto 2vh auto;
}







// ====================================================//
// 	В разработке PAGE STYLE		in-developing.html	 //
// ===================================================//


.in-developing {
	padding: 10vh 5vh 5vh 5vh;
	text-align: center;
	font-size: 3vh;
}



.header-mobile  {
	display: none;
}

.wrap-btn-main-mobile {
	display: none;
}

.sign-up__title--mobile {
	display: none;
}












// ====================================================//
// 				MEDIA			for Tablet 			 //
// ===================================================//



@media screen and (orientation: portrait) {
	.header {
		&__left-side {
			padding-top: 2.5vw;
		}
		&__logo {
			margin-right: 4.6vw;
			max-width: 22vw;
			max-height: 6vw;
		}
		&__tagline {
			margin-right: 3vw;
			& p {
				font-size: 1.6vw;
				line-height: 1.9vw;
			}
		}
	}

	.container--header {
		height: 18.1vw;
		width: 97vw;
	}

	// Соц.Сети
	.socials {
		width: 11vw;
		height: 2vw;
		& img {
			width: 1.8vw;
			height: 1.8vw;
		}
	}

	// Смена языка сайта
	.dropdown {
		margin-top: 2.6vw;
	}

	.dropbtn {
		font-size: 1.2vw;
		line-height: 1.4vw;
	}

	.dropdown-content a {
		padding: 1vw 1vw 1vw 0;
		font-size: 1.2vw;
	}

	.dropdown-content a:first-child {
		padding: 2vw 1vw 1vw 0;
	}

	// Стрелка открытия списка языков
	.arrow {
		width: 1vw;
		height: 0.9vw;
		margin-left: 1vw;
	}  

	.dropdown:hover .arrow {
		margin-top: 0.5vw;
	}

	// HEADER Right-Side
	.header__right-side {
		padding-top: 2.5vw;
	}

	.header__btn {
		width: 16.8vw;
		margin: 0 1.8vw 0 auto;
		& a {
			font-size: 1.4vw;
			line-height: 1.6vw;
			width: 16.8vw;
			height: 4vw;
			margin-bottom: 0.6vw;
		}
	}

	// Поиск
	.search-form {
		&__input {
			width: 43.6vw;
			height: 4.8vw;
			padding-left: 0.8vw;
			font-size: 1.4vw;
			line-height: 1.6vw;
		}
		&__button {
			width: 5.4vw;
			height: 4.8vw;
			& img {
				width: 2.5vw;
				height: 2.4vw;
				padding-top: 0.2vw;
			}
		}
	}

	// Уведомление под шапкой
	.alert {
		height: 5.6vw;
		&__text {
			font-size: 1.2vw;
			line-height: 1.4vw;
		}
		&__close {
			margin-right: 1.5vw;
			width: 1.9vw;
			height: 1.9vw;
		}
	}

	.container--alert {
		width: 114vw;
		padding: 0 1.5vw;
	}

	// ===================================================//
	// 		MEDIA FOR 	for Tablet 		index.html		 //
	// =================================================//

	.container--home {
		width: 114vw;
		padding: 5.5vw 1.5vh 14.6vw 1.5vh;
	}

	.home__heading {
		font-size: 1.2vw;
		line-height: 1.4vw;
	}

	.home__main-news {
		max-width: 63.3vw;
		margin-top: 2vw;
		h1 {
			font-size: 2.5vw;
			line-height: 2.9vw;
			margin-bottom: 5vw;
		}
		img {
			max-width: 67.3vw;
			max-height: 38.5vw;
		}
	}

	// Стили основной кнопки
	.button--main {
		font-size: 1.8vw;
		line-height: 2.1vw;
		width: 37.8vw;
		height: 5.9vw;
		padding: 2.1vw 10vw;
	}

	// Колонка Новости
	.news {
		width: 25.2vw;
		padding-top: 5.5vw;
		&-block__item {
			padding: 1.3vw 0;
		}
		&__title {
			font-size: 2.5vw;
			line-height: 2.9vw;
		}
	}

	.date {
		font-size: 1.3vw;
		line-height: 1.7vw;
		padding-bottom: 1.2vw;
	}

	.title {
		font-size: 1.4vw;
		line-height: 1.8vw;
	}

	// =================================================================//
	// 		MEDIA FOR 	for Tablet 				alert-registration.html	 //
	// =================================================================//

	.container--alert-registration {
		width: 95vw;
	}

	.logo--middle {
		margin-top: 2.2vw;
		max-width: 22vw;
		max-height: 6vw;
		margin: 2.2vw auto 2.5vw auto;
	}

	.next-step {
		width: 80.5vw;
		height: 65.4vw;
		&__title {
			font-size: 1.9vw;
			line-height: 2.2vw;
			margin: 4.3vw auto 3.2vw auto;
		}
		&__text {
			font-size: 1.4vw;
			line-height: 1.9vw;
			max-width: 60.2vw;
			&:last-child {
				margin-bottom: 6vw;
			}
		}
	}

	// ==============================================================//
	// 		MEDIA FOR 	for Tablet 				registration.html	 //
	// ============================================================//

	.choice-enter {
		width: 55.8vw;
		height: 31vw;
		&__or {
			margin-top: 0.6vw;
		}
	}

	// Стили кнопок Вход и Рег
	.wrapper-button-enter {
		margin: 1.1vw auto 0 auto;
		width: 41.1vw;
		padding-bottom: 1.8vw;
	}

	.button-enter{
		font-size: 1.5vw;
		line-height: 1.8vw;
		width: 16.8vw;
		height: 4vw;
	}

	.button-enter--reg {
		font-size: 1.4vw;
		line-height: 1.6vw;
	}

	.wrapper-button-enter--reg {
		margin: 3.8vw auto 0 auto;
	}

	.search-form--reg {
		margin: 1vw auto 0 auto;
	}

	.search-form__input--reg {
		width: 43.6vw;
		height: 4.8vw;
	}

	// ======================================================//
	// 		MEDIA FOR 	for Tablet 			contract.html	 //
	// ====================================================//

	.contact--container {
		width: 95vw;
	}

	.contract {
		width: 92.4vw;
		height: 75vw;
		padding: 4.5vw 4.5vw 0 7vw;
		&__title {
			font-size: 1.8vw;
			line-height: 2.1vw;
		}
	}

	// TABLE
	.table {
		font-size: 1.4vw;
		line-height: 1.6vw;
		margin-top: 4.5vw;
		& tr {
			height: 3.7vw;
		}
		&__point {
			width: 17vw;
		}
		&-wrapp {
			flex-direction: column;
		}
	}

	// BUTTONS //
	.button-legal {
		margin-top: 3.5vw;
		justify-content: flex-start;
	}

	.button-legal-inner {
		font-size: 1.6vw;
		line-height: 1.9vw;
		width: 44vw;
		height: 4vw;
	}

	// Button about kvorum
	.button-kvorum {
		margin-top: 3.5vw;
		&-inner {
			font-size: 1.6vw;
			line-height: 1.9vw;
			width: 57vw;
			height: 4vw;
		}
	}

	// Button Print
	.button-print {
		margin-top: 3.5vw;
		&-inner {
			font-size: 1.6vw;
			line-height: 1.9vw;
			width: 16.8vw;
			height: 4vw;
		}
	}

	// ==============================================================//
	// 		MEDIA FOR 	for Tablet 		about-kvorum.html 			//
	// ============================================================//

	.about-kvorum-link {
		margin-top: 11vw;
		font-size: 1.6vw;
		line-height: 1.9vw;
	}

	.wrap-btn--about-kvorum {
		margin-top: 8.5vw;
	}

	// Button Exit
	.button-exit {
		margin-top: 3.5vw;
		margin-left: 3vw;
		&-inner {
			font-size: 1.6vw;
			line-height: 1.9vw;
			width: 24.8vw;
			height: 6vw;
		}
	}

	// Button Offerta
	.button-offerta {
		margin-top: 3.5vw;
		&-inner {
			font-size: 1.6vw;
			line-height: 1.9vw;
			width: 66vw;
			height: 6vw;
		}
	}

	// Small header
	.container--header-small {
		height: 11vw;
	}

	.header__right-side--small {
		padding-top: 2vw;
	}

	.header__socials--small {
		margin-right: 4vw;
		margin-top: 1vw;
	}

	.dropdown-content--header-small a:first-child {
		padding: 0.7vw 1vw 1vw 0;
	}

	// =======================================================//
	// 		MEDIA FOR 	for Tablet 			offerta.html	 //
	// =====================================================//

	.offerta {
		width: 88vw;
		padding-bottom: 12vw;
		&__text {
			font-size: 1.4vw;
			line-height: 1.7vw;
		}
		&__title--main {
			font-size: 1.6vw;
			line-height: 1.9vw;
			margin-bottom: 4.5vw;
			margin-top: 2.5vw;
		}
		&__title {
			font-size: 1.6vw;
			line-height: 1.9vw;
			margin-bottom: 1.2vw;
			margin-top: 2.8vw;
		}
		&__text--right {
			margin-bottom: 8vw;
		}
	}

	// Штамп
	.offerta__stamp {
		margin-bottom: 7vw;
	}

	.stamp--second {
		& img {
			width: 22vw;
			height: 22vw;
		}
	}

	// =======================================================//
	// 		MEDIA FOR 	for Tablet 			login.html		 //
	// =====================================================//

	.login {
		width: 64vw;
		height: 55vw;
		padding: 4.5vw 4.5vw 0 7vw;
		&__title {
			font-size: 1.5vw;
			line-height: 1.8vw;
		}
	}

	.login__group .label,
	.login__group .input{
		width: 37vw;
		height: 5vw;
	}

	.login__group .input {
		padding: 1.5vw 2.0vw;
	}

	.login__group .label {
		font-size: 1.4vw;
		line-height: 1.6vw;
		height: 0vw;
	}

	.login__group label .icon{
		width: 2vw;
		height: 2vw;
		border: 0.1vw solid #898989;
		margin-left: 1vw;
	}

	.login__group label .icon:before,
	.login__group label .icon:after{
		content:'';
		width: 1.3vw;
		height: 0.2vw;
	}

	.login__group label .icon:before{
		left: 0.1vw;
		width: 0.8vw;
		bottom: 0.6vw;
	}

	.login__group label .icon:after{
		top: 0.7vw;
	}

	.login__group {
		padding-top: 4vw;
		margin-bottom: 1vw;
		& label {
		left: 1.3vw;
		top: 5.6vw;
		}
		& input{
		padding: 0.5vw;
		border: 0.1vw solid #ccc;
		}
		& input:focus+label,
		& input:not(:placeholder-shown)+label{
		top: 1.7vw;
		}
	}

	.remember {
		width: 17vw;
		margin: 2.5vw auto 2vw auto;
		& label {
			font-size: 1.2vw;
			line-height: 1.4vw;
		}
	}

	.remember--reg {
		width: 28vw;
	}

	// Button Login
	.login__group--button {
		font-size: 1.8vw;
		line-height: 2.1vw;
		width: 35vw;
		height: 6vw;
	}
	// \End Button login

	// ===========================================================//
	// 		MEDIA FOR 	for Tablet 				sign-up.html	 //
	// =========================================================//

	.sign-up {
		width: 92vw;
		height: 85vw;
		padding: 2vw 4.5vw 0 7vw;
		margin-bottom: 4.5vw;
		&__title {
			font-size: 1.5vw;
			line-height: 1.8vw;
		}
	}

	// .recaptcha {
	// 		width: 31vw;
	//     height: 8vw;
	// }

	.recaptcha {
		& img {
			width: 24.5vw;
			height: 7.7vw;
		}
	}

	.sign-up__button {
		margin: 2vw auto 2vw auto;
	}

	// ====================================================//
	// 			MEDIA FOR 			in-developing.html	 //
	// ===================================================//

	.in-developing {
		padding: 10vw 5vw 5vw 5vw;
		font-size: 3vw;
	}
}
















				// ===========================================================//
				// 			MEDIA FOR Phone			orientation: portrait	 //
				// =========================================================//


@media screen and (max-width: 767px) and (orientation: portrait) {
	.header, .news, .home__heading {
		display: none;
	}

	.container--home {
		justify-content: center;
	}

	.home__main-news {
		max-width: 84vw;
		margin-top: 2vw;
		text-align: center;
		h1 {
			font-size: 3.5vw;
			line-height: 3.9vw;
			margin-bottom: 7.5vw;
			text-align: center;
		}
		img {
			max-width: 83.3vw;
			max-height: 51.5vw;
		}
	}

	.button--main {
		display: none;
	}

	//===============================================================//
	// HEADER MOBILE   		 and 		orientation: portrait 		  //
	//=============================================================//

	.header-mobile {
		display: block;
		width: 100%;
		&__top-side {
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding-top: 2.5vh;
			padding-bottom: 1.5vh;
			height: max-content;
			background-color: #F8F8F8;
			& a {
				margin: 0 auto;
			}
		}
		&__down-side {
			background-color: #A9C239;
		}
		&__contacts {
			padding: 6vw 1vw;
			width: max-content;
			margin: 0 auto;
		}
		&__logo {
			max-width: 49vw;
			max-height: 11.7vw;
		}
		&__tagline {
			display: block;
			text-align: center;
			& p {
				color: #181818;
				font-size: 3.2vw;
				line-height: 6vw;
			}
		}
	}

	.wrap-btn-main-mobile {
		display: flex;
		background-color: #A9C239;
		width: 90%;
		height: 10vw;
		margin: 0 auto;
		align-items: center;
		justify-content: center;
		a {
			font-size: 4vw;
			line-height: 9.1vw;
			width: 100%;
			height: 100%;
			color: #fff;
		}
	}

	.contact__item {
		display: flex;
		justify-content: center;
		width: max-content;
		margin-bottom: 5vw;
		.item__text {
			font-size: 3.2vw;
			line-height: 4vw;
			font-weight: 400;
			color: #fff;
		}
		&:last-child {
			margin-bottom: 0;
		}
		.item__icon {
			width: 4vw;
			margin-right: 2vw;
		}
	}

	.container--header {
		height: 18.1vh;
		width: 114vh;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
	// The end header mobile

	.logo--middle {
		display: none;
	}

	// ==========================================================//
	// 	alert-registration.html		 orientation: portrait		 //
	// =========================================================//

	.body--white, .header-mobile__top-side--white {
		background-color: #fff;
	}

	.next-step {
		width: auto; 
		height: auto; 
		background: #FFF; 
		box-shadow: none; 
		border-radius: 0;
		&__title {
			font-size: 3.5vw;
		}
		&__text {
			font-size: 3vw;
			line-height: 3.5vw;
			max-width: 78.2vw;
			text-align: center;
		}
	}

	.button--alert-registration {
		font-size: 4vw;
		width: 100%;
		height: 10.9vw;
		& a {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	// ======================================================//
	// 	registration.html		 orientation: portrait		 //
	// =====================================================//

	.choice-enter {
		margin: 30vw auto 10vw auto;
		width: auto;
		height: auto;
		box-shadow: none;
		background-color: inherit;
		&__or {
			margin-top: 3vw;
			font-size: 3.5vw;
		}
	}

	// Стили кнопок Вход и Рег
	.wrapper-button-enter {
		margin: 6vw auto 0 auto;
		width: 80.1vw;
		height: 14vw;
		padding-bottom: 3.5vw;
	}

	.button-enter{
		font-size: 4.4vw;
		width: 95%;
		height: 100%;
		font-weight: 400;
	}

	.wrapper-button-enter--reg {
		margin: 0 auto;
	}

	.search-form--reg {
		margin: 6vw auto 0 auto;
		width: 95%;
	}

	.search-form__input--reg {
		width: 80.1vw;
		height: 10.5vw;
		font-size: 3vw;
		padding-right: 14vw;
	}

	.search-form__button {
		width: 12vw;
		height: 10.5vw;
		& img {
			width: 4.5vw;
			height: 4.4vw;
			padding-top: 0.2vw;
		}
	}

	// ===================================================//
	// 		contract.html		orientation: portrait	 //
	// =================================================//

	.contract {
		width: auto;
		height: auto;
		background: inherit;
		box-shadow: none;
		padding: 8vw 4.5vw 0 7vw;
		margin: 0 auto 10vw auto;
		&__title {
			font-size: 4vw;
			text-align: center;
		}
	}

	// TABLE
	.table-wrapp {
		flex-direction: column;
	}

	.table {
		line-height: 3vw;
		font-size: 3.4vw;
		margin-top: 4.5vw;
		& tr {
			height: 11.7vw;
		}
		&__point {
			width: 40vw;
			font-weight: 400;
		}
		&__result {
			font-weight: 500;
			width: 30vw;
		}
	}

	// Button Legal
	.button-legal {
		margin-top: 3.5vw;
		&-inner {
			font-size: 3.5vw;
			line-height: 1.9vw;
			width: 100%;
			height: 10vw;
			padding: 0 6vw;
			line-height: 4vw;
			text-align: center;
		}
	}

	// Button about kvorum
	.button-kvorum {
		margin-top: 5.5vw;
		&-inner {
			font-size: 3.5vw;
			line-height: 4vw;
    		text-align: center;
			font-weight: 400;
			width: 100%;
			height: 10vw;
			padding: 0 3vw;
		}
	}

	// Button Print
	.button-print {
		margin-top: 5.5vw;
		&-inner {
			font-size: 3.5vw;
			line-height: 4vw;
    		text-align: center;
			font-weight: 400;
			width: 100%;
			height: 10vw;
			padding: 0 3vw;
			background-color: transparent;
			border: 1px solid #A9C239;
			color: #5A5A5A;
		}
	}

	// =======================================================//
	// 		offerta.html			orientation: portrait	 //
	// ====================================================//

	.offerta-mob--container {
		width: 75%;
	}
	
	.offerta {
		width: 100%;
		padding-bottom: 12vw;
		&__text {
			font-size: 3.5vw;
			line-height: 4vw;
		}
		&__title--main {
			font-size: 3.6vw;
			line-height: 4.9vw;
			margin-bottom: 4.5vw;
			margin-top: 2.5vw;
		}
		&__title {
			font-size: 3.6vw;
			line-height: 4.9vw;
			margin-bottom: 3.5vw;
			margin-top: 3.5vw;
		}
		&__text--right {
			text-align: right;
			margin-bottom: 8vw;
		}
	}

	// Штамп
	.offerta__stamp {
		flex-direction: column;
		margin-bottom: 10vw;
		margin-top: 6vw;
	}

	.stamp--second {
		flex-direction: column;
		& img {
			width: 55vw;
    		height: 55vw;
		}
	}

	.button-offerta-inner {
		font-size: 3.6vw;
		line-height: 4vw;
		text-align: center;
		width: 75vw;
		height: 13vw;

		padding: 0 2vh;
		margin: 0 auto;
	}

	// ======================================================//
	// 		about-kvorum.html		orientation: portrait	 //
	// =====================================================//

	.about-kvorum-link {
		margin-top: 30vw;
		font-size: 3.6vw;
		line-height: 4.9vw;
    	text-align: center;
	}
	.button-about-kvorum {
		padding: 0 3vh;
	}
	.wrap-btn--about-kvorum {
		flex-direction: column;
	}
	.button-exit {
    margin-left: 0;
		&-inner {
			font-size: 3.6vw;
			line-height: 4.9vw;
			text-align: center;
			width: 75vw;
			height: 13vw;
			margin: 0 auto;
		}
	}

	// =======================================================//
	// 	login.html		orientation: portrait				 //
	// ====================================================//

	.login {
		width: auto;
		height: auto;
		margin: 35vw auto 0 auto;
		box-shadow: none;
		border-radius: 0;
		&__title {
			font-size: 4vw;
		}
	}
	.login__group {
		padding-top: 6vw;
		margin-bottom: 1vw;
	}

	.login__group .input {
		width: 75vw;
		height: 10vw;
	}

	.login__group .label {
		font-size: 3vw;
		line-height: 5.6vw;
		top: 8vw;
	}
	
	.login__group input:focus+label, .login__group input:not(:placeholder-shown)+label {
		top: 1vw;
	}

	.login__group--button {
		font-size: 3.5vw;
		line-height: 2.1vw;
		width: 100%;
		height: 9vw;
	}

	.remember {
		width: 37vw;
		margin: 5vw auto 6vw auto;
		& label {
			font-size: 3vw;
			line-height: 2.1vw;
		}
	}

	.login__group label .icon {
		width: 4vw;
		height: 4vw;
		margin-left: 2vw;
	}

	.login__group label .icon:before, .login__group label .icon:after {
		width: 3vw;
		height: 0.2vw;
	}

	.login__group label .icon:before {
		left: 0.1vw;
		width: 1.7vw;
		bottom: 0.8vw;
	}

	.login__group label .icon:after {
		top: 1.7vw;
		right: -0.2vw;
	}
	// ===========================================================//
	// 	sign-up.html		orientation: portrait				 //
	// =========================================================//

	.sign-up {
		width: 92vw;
		height: auto;
		margin: 4.5vw auto 4.5vw auto;
		box-shadow: none;
		border-radius: 0;
		padding: 2vw 4.5vw 0 7vw;
		&__title {
			display: none;
		}
		&__title--mobile {
			font-size: 4vw;
			display: block;
		}
		&__button {
			width: 93%;
			font-size: 4vw;
			height: 11vw;
			margin-top: 5vw;
			margin-bottom: 5vw;
		}
	}
	.login__group--inner {
		justify-content: center;
	}
	.remember--reg {
		width: 65vw;
	}
	.recaptcha img {
		width: 58.5vw;
		height: 17.7vw;
	}

}














				// ===========================================================//
				// 			MEDIA FOR Phone			orientation: landscape	 //
				// =========================================================//




@media screen and (max-width: 900px) and (orientation: landscape) {
	.header, .news, .home__heading {
		display: none;
	}

	.container--home {
		justify-content: center;
	}

	.home__main-news {
		max-width: 84vw;
		margin-top: 2vw;
		text-align: center;
		h1 {
			font-size: 3vw;
			line-height: 3.9vw;
			margin-bottom: 7.5vw;
			text-align: center;
		}
		img {
			max-width: 71.3vw;
			max-height: 51.5vw;
		}
	}

	.button--main {
		display: none;
	}

	//==============================================================--==//
	// HEADER MOBILE    after 900px 	 and orientation: landscape	   //
	//================================================================//

	.header-mobile {
		display: block;
		width: 100%;
		// HEADER Left-Side
		&__top-side {
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding-top: 2.5vh;
			padding-bottom: 1.5vh;
			height: max-content;
			background-color: #F8F8F8;
			& a {
				margin: 0 auto;
			}
		}
		&__down-side {
			background-color: #A9C239;
		}
		&__contacts {
			padding: 6vh 1vh;
			width: max-content;
			margin: 0 auto;
		}
		&__logo {
			max-width: 49vh;
			max-height: 11.7vh;
		}
		&__tagline {
			display: block;
			text-align: center;
			& p {
				color: #181818;
				font-size: 3.2vh;
				line-height: 6vh;
			}
		}
	}

	.wrap-btn-main-mobile {
		display: flex;
		background-color: #A9C239;
		width: 90%;
		height: 13vh;
		margin: 0 auto;
		align-items: center;
		justify-content: center;
		a {
			font-size: 4.5vh;
			line-height: 13.1vh;
			color: #fff;
			width: 100%;
			height: 100%;
		}
	}

	.contact__item {
		display: flex;
		justify-content: center;
		width: max-content;
		margin-bottom: 5vh;
		.item__text {
			font-size: 3.2vh;
			line-height: 4vh;
			font-weight: 400;
			color: #fff;
		}
		&:last-child {
			margin-bottom: 0;
		}
		.item__icon {
			width: 4vh;
			margin-right: 2vh;
		}
	}

	.container--header {
		height: 18.1vh;
		width: 114vh;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
	// The end header mobile

	.logo--middle {
		display: none;
	}

	// ==========================================================//
	// 	alert-registration.html		 orientation: landscape		 //
	// =========================================================//

	.body--white, .header-mobile__top-side--white {
		background-color: #fff;
	}

	.next-step {
		width: auto; 
		height: auto; 
		background: #FFF; 
		box-shadow: none; 
		border-radius: 0;
		&__title {
			font-size: 3.5vh;
		}
		&__text {
			font-size: 3vh;
			line-height: 3.5vh;
			max-width: 108.2vh;
			text-align: center;
		}
	}

	.button--alert-registration {
		font-size: 3.5vh;
		width: 80%;
		height: 8.9vh;
		& a {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	
	// ======================================================//
	// 	registration.html		 orientation: landscape		 //
	// =====================================================//

	.choice-enter {
		margin: 10vh auto 10vh auto;
		width: auto;
		height: auto;
		box-shadow: none;
		background-color: inherit;
		&__or {
			margin-top: 3vh;
			font-size: 3.5vh;
		}
	}

	// Стили кнопок Вход и Рег
	.wrapper-button-enter {
		margin: 6vh auto 0 auto;
		width: 80.1vh;
		height: 14vh;
		padding-bottom: 3.5vh;
	}

	.button-enter{
		font-size: 4.4vh;
		width: 95%;
		height: 100%;
		font-weight: 400;
	}

	.wrapper-button-enter--reg {
		margin: 0 auto;
	}

	.search-form--reg {
		margin: 6vh auto 0 auto;
		width: 95%;
	}

	.search-form__input--reg {
		width: 80.1vh;
		height: 10.5vh;
		font-size: 3vh;
		padding-right: 14vh;
	}

	.search-form__button {
		width: 12vh;
		height: 10.5vh;
		& img {
			width: 4.5vh;
			height: 4.4vh;
			padding-top: 0.2vh;
		}
	}

	// ===================================================//
	// 		contract.html	orientation: landscape		 //
	// =================================================//

	.contract {
		width: auto;
		height: auto;
		background: inherit;
		box-shadow: none;
		border-radius: 9px;
		padding: 8vh 4.5vh 0 7vh;
		margin: 0 auto 10vh auto;
		&__title {
			font-size: 4vh;
			text-align: center;
		}
	}
	// TABLE
	.table-wrapp {
		flex-direction: column;
	}

	.table {
		line-height: 3vh;
		font-size: 3.4vh;
		margin-top: 4.5vh;
		& tr {
			height: 11.7vh;
		}
		&__point {
			width: 50vh;
			font-weight: 400;
		}
		&__result {
			font-weight: 500;
			width: 30vh;
		}
	}

	.button-legal {
		margin-top: 3.5vh;
	}

	.button-legal-inner {
		font-size: 3.5vh;
		line-height: 1.9vh;
		width: 100%;
    	height: 10vh;
		padding: 0 3vw;
	}

	.button-kvorum {
		margin-top: 5.5vh;
		&-inner {
			font-size: 3.5vh;
			line-height: 4vh;
    		text-align: center;
			font-weight: 400;
			width: 100%;
			height: 10vh;
			padding: 0 3vw;
		}
	}

	.button-print {
		margin-top: 5.5vh;
		&-inner {
			font-size: 3.5vh;
			line-height: 4vh;
    		text-align: center;
			font-weight: 400;
			width: 100%;
			height: 10vh;
			padding: 0 3vw;
			background-color: transparent;
			border: 1px solid #A9C239;
			color: #5A5A5A;
		}
	}

	// =======================================================//
	// 		offerta.html		orientation: landscape		 //
	// =====================================================//

	.offerta-mob--container {
		width: 80%;
	}
	
	.offerta {
		width: 100%;
		padding-bottom: 12vh;
		&__text {
			font-size: 3.5vh;
			line-height: 4vh;
		}
		&__title--main {
			font-size: 3.6vh;
			line-height: 4.9vh;
			margin-bottom: 4.5vh;
			margin-top: 2.5vh;
		}
		&__title {
			font-size: 3.6vh;
			line-height: 4.9vh;
			margin-bottom: 1.2vh;
			margin-top: 2.8vh;
		}
		&__text--right {
			text-align: right;
			margin-bottom: 8vh;
		}
	}

	// Штамп
	.offerta__stamp {
		margin-bottom: 7vh;
	}

	.stamp--second {
		& img {
			width: 40vh;
			height: 40vh;
		}
	}

	.button-offerta-inner {
		font-size: 3.6vh;
		line-height: 4.9vh;
		text-align: center;
		width: 100%;
		height: 16vh;
		margin: 0 auto;
	}

	// ===========================================================//
	// 		about-kvorum.html		orientation: landscape		 //
	// =========================================================//

	.about-kvorum-link {
		margin-top: 11vh;
		font-size: 3.6vh;
		line-height: 9.9vh;
	}
	.wrap-btn--about-kvorum {
		flex-direction: column;
	}
	.button-exit {
    margin-left: 0;
		&-inner {
			font-size: 3.6vh;
			line-height: 4.9vh;
			text-align: center;
			width: 100%;
			height: 13vh;
			margin: 0 auto;
		}
	}


	// =======================================================//
	// 	login.html		orientation: landscape				 //
	// ====================================================//

	.login {
		width: auto;
		height: auto;
		margin: 6vh auto 0 auto;
		box-shadow: none;
		border-radius: 0;
		&__title {
			font-size: 4vh;
		}
	}
	.login__group {
		padding-top: 6vh;
		margin-bottom: 1vh;
	}

	.login__group .input {
		width: 75vh;
		height: 10vh;
	}

	.login__group .label {
		font-size: 3vh;
		line-height: 5.6vh;
		top: 8vh;
	}

	.login__group input:focus+label, .login__group input:not(:placeholder-shown)+label {
		top: 1vh;
	}

	.login__group--button {
		font-size: 3.5vh;
		line-height: 2.1vh;
		width: 100%;
		height: 9vh;
	}

	.remember {
		width: 37vh;
		margin: 5vh auto 6vh auto;
		& label {
			font-size: 3vh;
			line-height: 2.1vh;
		}
	}

	.login__group label .icon {
		width: 4vh;
		height: 4vh;
		margin-left: 2vh;
	}

	.login__group label .icon:before, .login__group label .icon:after {
		width: 3vh;
		height: 0.2vh;
	}

	.login__group label .icon:before {
		left: 0.1vh;
		width: 1.7vh;
		bottom: 0.8vh;
	}

	.login__group label .icon:after {
		top: 1.7vh;
		right: -0.2vh;
	}

	// =======================================================//
	// 	sign-up.html		orientation: landscape			 //
	// ====================================================//

	.sign-up {
		width: 92vh;
		height: auto;
		margin: 4.5vh auto 4.5vh auto;
		box-shadow: none;
		border-radius: 0;
		padding: 2vh 4.5vh 0 7vh;
		&__title {
			display: none;
		}
		&__title--mobile {
			font-size: 4vh;
			display: block;
		}
		&__button {
			width: 93%;
			font-size: 4vh;
			height: 11vh;
		}
	}
	.login__group--inner {
		justify-content: center;
	}
	.remember--reg {
		width: 65vh;
	}
	.recaptcha img {
		width: 58.5vh;
		height: 17.7vh;
	}
}	

